html {
    background-image: url(/Frontend/Layouts/background.png);
    background-size: cover;
    height: 100vh;
    font-family: "Regular", "Bold", "BoldItalic", "Italic", "Myriad Regular";
}

header{
    width: 60%;
    margin-left: 190px;
    margin-bottom: 30px;
    height: 45px;
}

body {
    margin-top: 8vh;
    height: 92vh;
}

@font-face {
    font-family: "Regular";
    src: url("/fonts/SpaceMono-Regular.ttf");
}
@font-face {
    font-family: "Bold";
    src: url("/fonts/SpaceMono-Bold.ttf");
}
@font-face {
    font-family: "BoldItalic";
    src: url("/fonts/SpaceMono-BoldItalic.ttf");
}
@font-face {
    font-family: "Italic";
    src: url("/fonts/SpaceMono-Italic.ttf");
}

@font-face {
    font-family: "Myriad Regular";
    src: url("/fonts/MYRIADPRO-REGULAR.OTF");
}
