.suggestion-zone__title {
    width: 100%;
    line-height: 1.4em;
    height: 4.2em;

    text-transform: uppercase;
    margin: 0px 0px 30px;
    font-size: 40px;
    font-family: "Bold";

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
            line-clamp: 3;
}