.suggestion-zone__description {
    width: 40%;
    margin: 0 0 60px 40px;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
            line-clamp: 6;

    font-family: 'Myriad Regular';
}